<!-- <!DOCTYPE html> -->
<html>
  <head>
    <meta charset="utf8">
    <base href="/">
    <title>Angular Express Seed</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="lib/skeleton/css/skeleton.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
  </head>
  <body ng-app="johnson">
    <div ng-controller="MainCtrl">
      <form ng-submit="search(query)" class="center-input">
        <input type="text" placeholder="URL" ng-model="query" style="width: 400px;">
        <button class="button button-primary" ng-click="search(query)">grab url</button>
      </form>
      <p>{{html}}</p>
    </div>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
  </body>
</html>
